<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#673ab7; font-family: Georgia, 'Times New Roman', Times, serif;">
   <a class="navbar-brand" href="#">
       <img src="" width="30" height="30"
           class="d-inline-block align-top" alt="">
       HOSTEL MANAGEMENT
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
           <li class="nav-item">
               <a class="nav-link text-white" routerLink="" routerLinkActive="active-link" >Home </a>
           </li>
           <li class="nav-item">
               <a class="nav-link text-white" routerLink="/daily-sales" routerLinkActive="active-link">Daily Sales</a>
           </li>
           <li class="nav-item">
               <a class="nav-link text-white" routerLink="/due-payments" routerLinkActive="active-link">Due Amounts</a>
           </li>
           <li class="nav-item">
               <a class="nav-link text-white" routerLink="/products-prices" routerLinkActive="active-link">Products Prices</a>
           </li>
           <!-- <li class="nav-item">
               <a class="nav-link text-white" routerLink="/services" routerLinkActive="active-link">Services</a>
           </li>
           <li class="nav-item">
               <a class="nav-link text-white" routerLink="/upitransfer" routerLinkActive="active-link">UPI transfer</a>
           </li> -->
           <li class="nav-item">
               <a class="nav-link text-white" routerLink="/orders"  routerLinkActive="active-link">My Orders</a>
           </li>
       </ul>
       <ul class="navbar-nav">
           <li class="nav-item">
               <a href="#" class="nav-link">
                   <i class="fa fa-bell fa-2x text-white"></i>
               </a>
           </li>
           <li class="nav-item dropdown col-md-1 col-xs-1 col-sm-11 mr-md-5">
               <a class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i class="fa fa-user fa-2x text-white"></i>&nbsp;&nbsp;
               </a>
               <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" routerLink='/login' >Login/Register</a>
                   <a class="dropdown-item" routerLink="/myprofile">My Profile Page</a>
                   <!-- <a class="dropdown-item" href="#">My account</a>
                   <a class="dropdown-item" href="#">Inquires</a> -->
                   <!-- <a class="dropdown-item" href="#">Edit Profile</a> -->
                   <a class="dropdown-item"  style="cursor: pointer;">Log
                       out</a>
               </div>
           </li>
       </ul>
   </div>
</nav>