<nav id="sidebar" class="active" style="height: 100%; box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);">
            
    <!-- <a class="img logo rounded-circle  mb-5" style="background-image: url('/assets/login-1.PNG');"></a> -->
    <div class="img bg-wrap text-center py-4" style="background-image: url(/assets/img/bg.jpg); ;">
        <div class="user-logo">
            <div class="img" style="background-image: url(/assets/f4.jpeg);"></div>
        </div>
    </div>
    <br><br>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#"><span class="fa fa-home"></span> Home</a>
            </li>
            <li>
                <a routerLink="/myprofile"><span class="fa fa-user"></span>My Profile</a>
            </li>
            <li>
                <a  routerLink="/dashboard"><span class="fa fa-tachometer"></span>Dashboard</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-cogs"></span> Services</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-paper-plane"></span> Contacts</a>
            </li>
        </ul>
</nav>