<div class="wrapper d-flex align-items-stretch">

    <app-sidebar></app-sidebar>

    <div id="content" class="p-4 p-md-5 pt-5">
        <app-navbar></app-navbar>
        <br><br>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-gradient-primary"
                    style="height: 150px;  box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);">
                    <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                        <div>
                            <div class="text-value-lg" style=" font-weight: 100;">Allocation/Reallocation/<p>Remove Student</p></div>

                        </div>
                        <div class="btn-group">
                            <button class="btn btn-transparent dropdown-toggle p-0 text-white" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg class="c-icon">
                                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                                </svg>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item"
                                    href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a
                                    class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer  bg-gradient-primary">
                        <a routerLink="/addstudent" style="color: white; font-weight: 100;">View Details</a>
                        <i class="fa fa-angle-right pull-right"></i>
                    </div>
                    
                    <!-- <hr class="text-white" style="margin-bottom: 30px;border-color: white; opacity: 0.3;"> -->
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-gradient-info"
                    style="height: 150px; box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);">
                    <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                        <div>
                            <div class="text-value-lg" style="font-weight: 100;">Block wise info</div>

                        </div>
                        <div class="btn-group">
                            <button class="btn btn-transparent dropdown-toggle p-0 text-white" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg class="c-icon">
                                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                                </svg>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item"
                                    href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a
                                    class="dropdown-item" href="#">Something else here</a></div>
                        </div>
                    </div>
                    <div class="card-footer  bg-gradient-info">
                        <a routerLink="/buildingwiseinfo" style="color: white; font-weight: 100;">View Details</a>
                        <i class="fa fa-angle-right pull-right"></i>
                    </div>
                    <!-- <hr class="text-white" style="margin-bottom: 30px;border-color: white; opacity: 0.3;"> -->

                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-gradient-warning"
                    style="height: 150px; box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);">
                    <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                        <div>
                            <div class="text-value-lg" style="font-weight: 100;">College Wise Info</div>
                            <!-- <div>Members online</div> -->
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-transparent dropdown-toggle p-0 text-white" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg class="c-icon">
                                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                                </svg>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item"
                                    href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a
                                    class="dropdown-item" href="#">Something else here</a></div>
                        </div>
                    </div>
                    <div class="card-footer  bg-gradient-warning">
                        <a routerLink="/" style="color: white; font-weight: 100;">View Details</a>
                        <i class="fa fa-angle-right pull-right"></i>
                    </div>
                    <!-- <hr class="text-white" style="margin-bottom: 30px;border-color: white; opacity: 0.3;"> -->
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-gradient-danger"
                    style="height: 150px; box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);">
                    <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                        <div>
                            <div class="text-value-lg" style="font-weight: 100;">Report Generation</div>
                            <!-- <div>Members online</div> -->
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-transparent dropdown-toggle p-0 text-white" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg class="c-icon">
                                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                                </svg>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item"
                                    href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a
                                    class="dropdown-item" href="#">Something else here</a></div>
                        </div>
                    </div>
                    <div class="card-footer  bg-gradient-danger">
                        <a routerLink="/" style="color: white; font-weight: 100;">View Details</a>
                        <i class="fa fa-angle-right pull-right"></i>
                    </div>
                    <!-- <hr class="text-white" style="margin-bottom: 30px;border-color: white; opacity: 0.3;"> -->
                </div>
            </div>




        </div>



        <br><br>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card" style="border-radius: 15px; font-weight: 100;">
                            <div class="card-header card-header-primary" style="border-radius: 5px;">
                                <h4 class="card-title text-white">Blocks Info</h4>
                                <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                            </div>
                            <div class="card-body">  
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th style="color: #9c27b0; text-align: center;">
                                                Block Names
                                            </th>
                                            
                                        </thead>
                                        <tbody *ngFor="let x of showbuildings">
                                            <tr style="text-align: center; font-weight: 1000;">
                                                <td>
                                                    {{x}}
                                                </td>
                                                
                                            </tr>
                                            

                                        </tbody>

                                    </table>
                                    
                                </div>


                                

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>





</div>