<app-nav></app-nav>
<div class="header">

</div>
<div class="container col-lg-7" >
   
        <div class="card zoom" style="box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    background: rgba(255, 255, 255, 0.90); height: 15em; margin-top: -8em; "> 
             <img src="/assets/f4.jpeg" class="card-img-top img-fluid" style="height: 15em;" alt="...">
           
            <!-- <div class="card-img-overlay">
                <h4 class="text  font-weight-bolder " style="font-size: 2rem;">An Awesome Place to Stay</h4>
            </div>
         -->
        </div>
    
</div>
<div class="container">
    <div class="jumbotron jumbotron-fluid " style="background-color: transparent;">
        <div class="container">
            <!-- Card deck -->
            <div class="card-deck">

                <!-- Card -->
                <div class="card mb-4 zoom" style="box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
                background: rgba(255, 255, 255, 0.90);">

                    <!--Card image-->
                    <div class="view overlay">

                        <a routerLink=" ">
                            <!-- <div class="mask rgba-white-slight"></div> -->
                            <img class="card-img-top" src="/assets/hm.jpg" width="560" height="225"
                                alt="Card image cap">
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title" style="text-align: center;">Luxirious Rooms</h4>
                        <!--Text-->

                    </div>

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-4 zoom" style="box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
                background: rgba(255, 255, 255, 0.90);">

                    <!--Card image-->
                    <div class="view overlay">

                        <a routerLink=" ">
                            <!-- <div class="mask rgba-white-slight"></div> -->
                            <img class="card-img-top" src="/assets/image.png" width="560" height="225"
                                alt="Card image cap">
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title" style="text-align: center;">Plenty of Resources</h4>

                    </div>

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-4 zoom" style="box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
                background: rgba(255, 255, 255, 0.90);">

                    <!--Card image-->
                    <div class="view overlay">


                        <a routerLink="">
                            <!-- <div class="mask rgba-white-slight"></div> -->
                            <img class="card-img-top" src="/assets/f5.jpg" width="560" height="225"
                                alt="Card image cap">
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title " style="text-align: center;">Cool Environment</h4>

                    </div>

                </div>
                <!-- Card -->

            </div>
            <!-- Card deck -->
        </div>
    </div>
</div>







<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle"  style="height: 350px; width: 400px; box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
                    background: rgba(255, 255, 255, 0.90);" src="/assets/login-1.PNG" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4" style="font-weight: bold; font-size: 4em; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Luxirious Rooms</h2>
                    <p>As a student you have a great benefit of staying with your collegemates .</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" style="box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
                    background: rgba(255, 255, 255, 0.90);" src="/assets/f2.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4"  style="font-weight: bold; font-size: 4em; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Plenty of Resources</h2>
                    <p>Apart from the Studies you can just chill out in the Hostel</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" style="box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
                    background: rgba(255, 255, 255, 0.90);" src="/assets/f5.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4" style="font-weight: bold; font-size: 4em; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Coll Environment</h2>
                    <p>You can also enjoy with the Cool Environment here</p>
                </div>
            </div>
        </div>
    </div>
</section>

<br><br>
<app-footer></app-footer>